/* Add CSS Styling */

.odd-text{
    background-color: pink;
    font-family:Verdana,"DejaVu Sans", sans-serif;
}

.bolder{
    font-size: 24px;
}

#first-id{
    color: blue;
    font-size: 36px;
}

#second-id{
    background-color: lightgreen;
    font-weight: bold;
}